.home-container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 10vh;
}

.modebar{
    display: none !important;
}

.nsewdrag.drag{
    cursor: default !important;
}