.home-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.modebar{
    display: none !important;
}

.nsewdrag.drag{
    cursor: default !important;
}

@media screen and (max-width: 500px) {
    .user-select-none.svg-container {
        zoom: 0.8
    }
}

.title-wrapper {
    color: #ff6b12;
    display: flex;
    justify-content: center;
}